---
import { getNewProducts } from "../../../utils/getNewProducts"
import { Image } from "astro:assets"
const newProducts = getNewProducts()
---

<section class="w-full flex flex-col items-center sm:p-10 p-2 my-6">
  <div class="grid sm:grid-cols-2 grid-cols-1 sm:gap-20 gap-4 sm:w-3/4">
    {
      newProducts &&
        newProducts.map((product) => (
          <div class="flex flex-col">
            <div class="w-full flex justify-between items-center">
              <h2 class="text-2xl font-bold">{product.name}</h2>
              <p>{product.date}</p>
            </div>
            <div class="relative h-[50dvh] hover:opacity-90 overflow-hidden">
              <a href={product.dtrpg} target="_blank">
                <Image
                  src={product.img}
                  alt={product.name}
                  class="object-fill rounded-lg hover:scale-110 transition-all duration-300"
                />
              </a>
            </div>
          </div>
        ))
    }
  </div>
  <div
    class="sm:w-3/4 w-full flex justify-end items-start hover:text-stone-400 sm:text-xl font-extrabold">
    <a href={"/modules?page=1"}>All Modules</a>
  </div>
</section>
